<ion-list>
    <!-- Item with an avatar on the left and button on the right -->
    <!-- Item with a thumbnail on the right -->
    <ion-item *ngFor="let bikeStation of listOfBikeStations">
        <h2>{{bikeStation.name}}</h2>
        <p>Bike Stands: {{bikeStation.bike_stands}}</p>
        <p>Available Bike Stands: {{bikeStation.available_bike_stands}}</p>
        <p>Available Bikes: {{bikeStation.available_bikes}}</p>
    </ion-item>
</ion-list>